// Here you can add other styles
.login-2-box {
    background-color: #06394F !important;
}

.register-btn {
    background: linear-gradient(180deg, rgba(39, 170, 225, 0.9220063025210083) 0%, rgba(89, 216, 197, 0.8071603641456583) 100%) !important;
    color: white !important;
    border: 0;
}

.login-btn {
    background-color: #06394F !important;
    color: white;
}

.chart-width {
    width: 70%;
}

.section-margin {
    margin-bottom: 70px;
}

.shorten-btn {
    color: white;
    background-color: #1A85C2;
    border: 0;
    padding: 5px 20px;
}

.shorten-box {
    border: 1px solid rgb(216, 216, 216);
    padding: 10px 20px;
    border-radius: 4px;
}

.shorten-input {
    width: 73%;
    border: 0;
    outline: none;
}

.shorten-input::selection {
    background: transparent;
}

.shorten-input:focus {
    border: none;
    outline: none;
}

.single-btn {
    background-color: #CBCBCB;
    padding: 3px 5px;
}

.single-2-btn {
    background-color: #BCBCBC;
    color: white;
    padding: 6px 15px;
    border: 0px;
    margin-right: 10px;
    margin-top: 10px;
}

.single-3-btn {
    background-color: #CBCBCB;
    color: white;
    padding: 6px 15px;
    border: 0px;
    margin-top: 10px;
}

.shorten-page {
    background-color: #21925C;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.customize-btn {
    width: 100% !important;
    background-color: #06394F !important;
}

.selected-input {
    border-radius: 4px;
    border-color: rgb(228, 228, 228);
}

.add-btn {
    background-color: #1A85C2;
    color: white;
    font-size: 13px;
    border: 0;
    padding: 1px 3px;
    border-radius: 1px;
}

.delete-btn {
    background-color: #dc3545 !important;
    border: 0;
    color: white !important;
    font-size: 13px;
}

.deeplink-p {
    font-size: 13px;
}

.meta-tag-label {
    color: rgb(136, 132, 132) !important;
}

.selected-input {
    padding: 4px 8px;
}

.selected-input2 {
    border-radius: 4px;
    border: 2px solid gray !important;
}

.expiration-p {
    font-size: 14px;
}

.dashboard-2nd-box {
    border: 1px solid gray;
    border-radius: 4px;
}

.pagetype {
    background-color: #28a745;
    color: white;
    font-size: 13px !important;
    padding: 1px 6px;
    border-radius: 4px;
}

.dashboard-box2-a {
    font-size: 13px;
}

.detail-row {
    font-size: 13px;
}

.qr-name {
    font-size: 13px;
}

.app-input-box {
    width: 100%;
    border: 1px solid gray !important;
    padding: 6px 0px;
    cursor: pointer;
    border-radius: 4px;
}

.color-box {
    border: 1px solid rgb(224, 224, 224) !important;
    border-radius: 4px;
}

.design-box{
    border: 1px solid rgb(224, 224, 224) !important;
    border-radius: 4px;
    padding: 10px;
}
.preview-btn{
    background-color: #3b7ddd;
    padding: 4px;
}
.generate-btn{
    padding: 4px;
}
.single-color{cursor: pointer;}