// Here you can add other styles
.login-2-box {
    background-color: #06394F !important;
}

.register-btn {
    background: linear-gradient(180deg, rgba(39, 170, 225, 0.9220063025210083) 0%, rgba(89, 216, 197, 0.8071603641456583) 100%) !important;
    color: white !important;
    border: 0;
}

.login-btn {
    background-color: #06394F !important;
    color: white;
}

.chart-width {
    width: 70%;
}

.section-margin {
    margin-bottom: 70px;
}

.shorten-btn {
    color: white;
    background-color: #1A85C2;
    border: 0;
    padding: 5px 20px;
}

.shorten-box {
    border: 1px solid rgb(216, 216, 216);
    padding: 10px 20px;
    border-radius: 4px;
}

.shorten-input {
    width: 73%;
    border: 0;
    outline: none;
}

.shorten-input::selection {
    background: transparent;
}

.shorten-input:focus {
    border: none;
    outline: none;
}

.single-btn {
    background-color: #CBCBCB;
    padding: 3px 5px;
}

.single-2-btn {
    background-color: #BCBCBC;
    color: white;
    padding: 6px 15px;
    border: 0px;
    margin-right: 10px;
    margin-top: 10px;
}

.single-3-btn {
    background-color: #CBCBCB;
    color: white;
    padding: 6px 15px;
    border: 0px;
    margin-top: 10px;
}

.shorten-page {
    background-color: #21925C;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.customize-btn {
    width: 100% !important;
    background-color: #06394F !important;
}

.selected-input {
    border-radius: 4px;
    border-color: rgb(228, 228, 228);
}

.add-btn {
    background-color: #1A85C2;
    color: white;
    font-size: 13px;
    border: 0;
    padding: 1px 3px;
    border-radius: 1px;
}

.delete-btn {
    background-color: #dc3545 !important;
    border: 0;
    color: white !important;
    font-size: 13px;
}

.deeplink-p {
    font-size: 13px;
}

.meta-tag-label {
    color: rgb(136, 132, 132) !important;
}

.selected-input {
    padding: 4px 8px;
}

.selected-input2 {
    border-radius: 4px;
    border: 2px solid gray !important;
}

.expiration-p {
    font-size: 14px;
}

.dashboard-2nd-box {
    border: 0.5px solid rgba(194, 193, 193, 0.308);
    border-radius: 4px;
}

.pagetype {
    background-color: #28a745;
    color: white;
    font-size: 13px !important;
    padding: 1px 6px;
    border-radius: 4px;
}

.dashboard-box2-a {
    font-size: 13px;
}

.detail-row {
    font-size: 13px;
}

.qr-name {
    font-size: 15px;
}

.app-input-box {
    width: 100%;
    border: 1px solid gray !important;
    padding: 6px 0px;
    cursor: pointer;
    border-radius: 4px;
}

.color-box {
    border: 1px solid rgb(224, 224, 224) !important;
    border-radius: 4px;
}

.design-box {
    border: 1px solid rgb(224, 224, 224) !important;
    border-radius: 4px;
    padding: 10px;
}

.preview-btn {
    background-color: #3b7ddd;
    padding: 4px;
    border: 0;
    border-radius: 4px;
}

.generate-btn {
    padding: 4px;
}

.single-color {
    cursor: pointer;
}

.line {
    background-color: #0d6efd;
    height: 20px;
    width: 98%;
    border-radius: 4px;
    margin: 0 auto;
}

.input-box {
    border: 1px solid rgba(184, 184, 184, 0.719);
    text-align: center;
    border-radius: 10px;
    padding: 8px 2px;
}

.bio-border {
    border-right: 0.5px solid rgb(224, 224, 224);
}

.ctaContact-span {
    font-size: 13px !important;
}

.ctaContact-blue-colour {
    color: #3b7ddd;
    font-weight: 500;
}

.contact-btn {
    background-color: #3b7ddd;
    color: white;
    border: none;
    padding: 2px 8px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 4px;
}

.custom-toggle-buttons .active-btn {
    border: none;
}

.custom-toggle-buttons .CButton {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-toggle-buttons .CButton:hover {
    background-color: #e0e0e0;
}

.dash-input {
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid rgb(187, 183, 183);
}

.url-btn {
    background-color: rgb(59, 125, 221);
    color: white;
    padding: 4px 5px;
    border-radius: 0px;
    border-radius: 0px;
}

.icon-app {
    background-color: rgba(199, 198, 198, 0.336);
    padding: 0px 7px;
}

.sidebar-nav .nav-title {
    padding: 2px;
    margin-top: var(--cui-sidebar-nav-title-margin-top);
    font-size: 60%;
    margin-left: 5px;
    font-weight: 400;
    color: gray;
    text-transform: uppercase;
    transition: height 0.15s, margin 0.15s;
}

.header {
    --cui-header-bg: #fafafab0;
}

.sidebar-header {
    border-bottom: 0px !important;
}

.simplebar-scrollable-y {
    overflow: hidden;
}

.container-lg {
    padding: 0px !important;
}

.title-text {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 40px;
}

.button{
    background-color: #3b7ddd;
    color: white;
    padding: 4px 5px ;
    font-size: 14px;
    padding: '4px 5px';
    border-radius: 0px;
    border: 0;
}